// ==================================
// GENERAL
// ==================================
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
section{
    padding: 60px 0;
}
h1, h2, h3{
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}
h1{
    font-size: 2em;
    letter-spacing: 1px;
}
h3{
    font-size: 1.2em;
}
a, button{
    outline: none;
}

// ==================================
// CUSTOM
// ==================================
h1.title{
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
h2.subtitle{
    font-size: 1.6em;
    font-weight: 200;
    color: $grey-800;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.relative{
    position: relative;
}
.divider-left{
    border-left: 1px solid #ddd;
}

// ==================================
// TOPBAR
// ==================================
.topbar{
    background-color: $green-500;
}
.actions-right{
    line-height: 70px;
}
.search{
    margin-right: 40px;
}

// ==================================
// MENU
// ==================================
.main-menu{
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
#navbar-vita{
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    background-color: transparent;

    .navbar-brand{ padding-top: 10px; }
    .hide-screen{ display: none; }

    ul.nav > li > a{
        color: $grey-800;
        line-height: 30px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 2px;
            width: 0;
            opacity: 0;
            background: $green-500;
            -webkit-transition: all 150ms ease;
            -moz-transition: all 150ms ease;
            -ms-transition: all 150ms ease;
            -o-transition: all 150ms ease;
        }
    }
    ul.nav > li.active > a{
        background-color: transparent;

        &:before{
            width: 100%;
            left: 0;
            opacity: 1;
        }
    }
    ul.nav > li:hover > a:before{
        width: 100%;
        left: 0;
        opacity: 1;
    }
    // ul.nav > li.open > a{background-color: $green-400; }

    ul.nav > li.open .dropdown-menu{
        border: none;
        // background-color: $green-400;
    }
    .dropdown-menu > li > a{
        color: $grey-600;
        &:hover{
            color: $grey-50;
            background-color: $green-500;
            // text-decoration: underline;
        }
    }
    .dropdown-submenu:hover > a{
        color: $grey-50;
        background-color: $green-500;
    }
}
.drop-form{
    padding: 5px 15px;
    width: 220px;

    label{
        color: $grey-50;
        font-weight: 400;
    }
}
.drop-search{
    padding: 5px 15px;
    width: 320px;
}
#navbar-top{
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    background-color: transparent;

    ul.nav > li > a{
        color: $grey-50;
        line-height: 30px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            height: 2px;
            width: 0;
            opacity: 0;
            background: #fff;
            -webkit-transition: all 150ms ease;
            -moz-transition: all 150ms ease;
            -ms-transition: all 150ms ease;
            -o-transition: all 150ms ease;
        }
    }
    ul.nav > li.active > a{
        background-color: transparent;

        &:before{
            width: 100%;
            left: 0;
            opacity: 1;
        }
    }
    ul.nav > li:hover > a:before{
        width: 100%;
        left: 0;
        opacity: 1;
    }
    ul.nav > li.open > a, ul.nav > li:hover > a {background-color: $green-400; }

    ul.nav > li.open .dropdown-menu, ul.nav > li:hover .dropdown-menu{
        border: none;
        background-color: $green-400;
    }
    .dropdown-menu > li > a{
        color: $grey-50;
        &:hover{
            background-color: transparent;
            text-decoration: underline;
        }
    }
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu, .dropdown:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
// ==================================
// WRAPPER
// ==================================
.bg-banner{
    position: relative;
    height: 500px;
    background: url('../images/banner.jpg') no-repeat center center;
    background-size: cover;
}
.img-feature:hover:after{
    width: 100%;
}
.img-feature:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 0;
    height: 2px;
    display: block;
    background: $green-300;
    transition: width 200ms ease-in-out;
    z-index: 1;
}
.slogan{
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 10px 25px;
    background-color: transparentize($green-500, .2);

    p{
        margin: 0;
        color: #fff;
        font-weight: 100;
        font-size: 2.6rem;
        text-transform: uppercase;

        strong{font-weight: 200;}
    }
}

.bg-videos{
    margin-top: 15px;
    background: $green-500 url('../images/bg-videos.png') no-repeat center center fixed;
    background-size: cover;
}
.list-features, .list-news{
    margin: 0;
    padding: 0;

    li{
        float: left;
        width: 100%;
        list-style: none;
        margin-bottom: 15px;

        &:hover .thumb-feature:after{ height: 100%; }
        &:hover a{ text-decoration: underline; }

        img{ margin-right: 15px; }
        a{
            color: #fff;
            display: block;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

}
.list-features h3{
    margin-top: 0;
}
.thumb-feature{
    position: relative;
    width: 180px;
    height: auto;
    float: left;

    &:after{
        position: absolute;
        top: 0;
        right: 0;
        content: " ";
        display: block;
        width: 2px;
        background: $green-300;
        height: 0;
        transition: height 200ms ease-in-out;
        z-index: 1;
    }
}
.title-feature{
    font-size: 14px;
    padding: 10px;
    margin-left: 180px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;

}
.list-news{

    h3{ color: #333; margin-top: 0; }
    p{ color: $grey-600; }
    li:hover p{ color: $green-300; }
}

footer{
    color: #fff;
    min-height: 300px;
    background-color: $green-500;

    .ft1{font-size: 2em; }
    .ft2{font-size: 2.4em; padding: 5px 0 15px; display: block; }
    .txt_urgencia{ font-size: 1.2em; font-weight: 200; }

    .mgt-30{margin-top: 35px; }

    h1{
        opacity: .7;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 25px;
    }
    .social-links{

        a{
            opacity: .26;
            margin-right: 10px;
        }
    }
    .carousel .item{
        padding: 0 50px;
    }
    .copyright{
        padding: 10px 0;
        margin-top: 20px;
        background-color: $green-600;

        p{ line-height: 32px; }
    }
}
.carousel-control.right, .carousel-control.left{background: transparent;}

/* And here begins the WordPress fun.
-------------------------------------------------------------------------------*/

// #wrapper {width: 960px; margin: 20px auto;}

.post {}

.entry-content {}
.entry-content a {}
.entry-content a:hover {}

#meta {}
.postmetadata {}

#sidebar {}

.navgation {}
.next-posts {}
.prev-posts {}

#searchform {}
#s {}
#searchsubmt {}

ol.commentlist {list-style: none;}
ol.commentlist li {}
ol.commentlist li.alt {}
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment {border-bottom: 1px dotted #666; padding: 10px;}
ol.commentlist li.comment div.comment-author {}
ol.commentlist li.comment div.vcard {}
ol.commentlist li.comment div.vcard cite.fn {font-style: normal;}
ol.commentlist li.comment div.vcard cite.fn a.url {}
ol.commentlist li.comment div.vcard img.avatar {float:right; margin: 0 0 10px 10px;}
ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {}
ol.commentlist li.comment div.vcard span.says {}
ol.commentlist li.comment div.commentmetadata {}
ol.commentlist li.comment div.comment-meta {font-size: 10px;}
ol.commentlist li.comment div.comment-meta a {color: #ccc;}
ol.commentlist li.comment p {}
ol.commentlist li.comment ul {}
ol.commentlist li.comment div.reply {font-size: 11px;}
ol.commentlist li.comment div.reply a {font-weight: bold;}
ol.commentlist li.comment ul.children {list-style: none; margin: 10px 0 0;}
ol.commentlist li.comment ul.children li {}
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
ol.commentlist li.comment ul.children li.depth-2 {border-left: 5px solid #555; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-3 {border-left: 5px solid #999; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-4 {border-left: 5px solid #bbb; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-5 {}
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even {background: #fff;}
ol.commentlist li.odd {background: #f6f6f6;}
ol.commentlist li.parent {border-left: 5px solid #111;}
ol.commentlist li.thread-alt {}
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}


// PAGE LAYOUT
#main {
    width: 740px;
    float: left;
}
#sidebar {
    width: 300px;
    float: right;
}
.post-header {
    text-align: center;
    margin-bottom: 25px;

    .cat {
        display: block;
        margin-bottom: 7px;
    }

    h1 {
        color: #000;
        font-size: 24px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: 200;
        margin-bottom: 10px;
    }
}
.post-img {
    margin-bottom: 25px;

    img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }
}


// BLOG LAYOUT
.sp-grid > li {
    width: 355px;
    display: inline-block;
    vertical-align: top;
    margin-right: 26px;
}
.sp-grid article{
    margin-bottom: 45px;

    p {margin-bottom: 10px; }
    img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    .post-img {
        margin-bottom: 16px;
    }

    .post-header {
        text-align: center;
        margin-bottom: 16px;
    }

    .post-date {
        color: #999;
        font-style: italic;
    }

    .post-header {
        .cat {
            margin-bottom: 6px;
            display: block;

            a {
                color: $green-500;
                margin: 0 4px 4px 4px;
            }
        }

        h2 {
            margin-bottom: 12px;
            max-width: 100%;
            display: inline-block;

            a {
                color: black;
                font-size: 18px;
                letter-spacing: 2px;

                &:hover {
                  opacity: .6;
                  text-decoration: none;
                }
            }
        }
    }
}
.post-entry{
    color: $grey-700;
}
.title-divider {
    border-top: 2px solid $green-400;
    display: block;
    max-width: 48px;
    margin: 0 auto 15px;
    color: #161616;
}