// ==================================
// MEDIAS
// ==================================
@media only screen and (max-width: 455px) {
    .slogan p{
        font-size: 1.8rem;
    }
    .list-features, .list-news{

        li .thumb-feature{
            width: 100%;
        }
        li .title-feature{
            float: left;
            margin: 0;
        }
    }
    .list-features li img{ width: 100%; }
    .list-news{
        li{
            border: 1px solid $grey-300;
            box-shadow: 0 2px 3px rgba(0,0,0,.26);

            img{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .sm-left{
        float: left;
    }
    .divider-left{
        border: none;
    }
    #navbar-vita .navbar-header {
        float: none;
    }
    #navbar-vita .collapse {
       display: none !important;
    }
    #navbar-vita .navbar-toggle, #navbar-vita .collapse.in {
        display: block !important;
    }
    footer h1, footer .ft1{
        font-size: 1.7em;
    }
}
@media only screen and (max-width: 767px) {
    #navbar-top .navbar-brand {
        padding-top: 5px;
    }
    #navbar-access{ display: none; }
    #navbar-vita .hide-screen{ display: block; }
}