/*

Style sheet for Instituto Vita

*/
/* -----------------------------------------------------------------------RESET -------*/
/* Reset from: http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 60px 0;
}

h1, h2, h3 {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.2em;
}

a, button {
  outline: none;
}

h1.title {
  margin-top: 0;
  font-weight: 100;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

h2.subtitle {
  font-size: 1.6em;
  font-weight: 200;
  color: #424242;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.relative {
  position: relative;
}

.divider-left {
  border-left: 1px solid #ddd;
}

.topbar {
  background-color: #026a6c;
}

.actions-right {
  line-height: 70px;
}

.search {
  margin-right: 40px;
}

.main-menu {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#navbar-vita {
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  background-color: transparent;
}
#navbar-vita .navbar-brand {
  padding-top: 10px;
}
#navbar-vita .hide-screen {
  display: none;
}
#navbar-vita ul.nav > li > a {
  color: #424242;
  line-height: 30px;
}
#navbar-vita ul.nav > li > a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  opacity: 0;
  background: #026a6c;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
}
#navbar-vita ul.nav > li.active > a {
  background-color: transparent;
}
#navbar-vita ul.nav > li.active > a:before {
  width: 100%;
  left: 0;
  opacity: 1;
}
#navbar-vita ul.nav > li:hover > a:before {
  width: 100%;
  left: 0;
  opacity: 1;
}
#navbar-vita ul.nav > li.open .dropdown-menu {
  border: none;
}
#navbar-vita .dropdown-menu > li > a {
  color: #757575;
}
#navbar-vita .dropdown-menu > li > a:hover {
  color: #FAFAFA;
  background-color: #026a6c;
}
#navbar-vita .dropdown-submenu:hover > a {
  color: #FAFAFA;
  background-color: #026a6c;
}

.drop-form {
  padding: 5px 15px;
  width: 220px;
}
.drop-form label {
  color: #FAFAFA;
  font-weight: 400;
}

.drop-search {
  padding: 5px 15px;
  width: 320px;
}

#navbar-top {
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  background-color: transparent;
}
#navbar-top ul.nav > li > a {
  color: #FAFAFA;
  line-height: 30px;
}
#navbar-top ul.nav > li > a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 2px;
  width: 0;
  opacity: 0;
  background: #fff;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
}
#navbar-top ul.nav > li.active > a {
  background-color: transparent;
}
#navbar-top ul.nav > li.active > a:before {
  width: 100%;
  left: 0;
  opacity: 1;
}
#navbar-top ul.nav > li:hover > a:before {
  width: 100%;
  left: 0;
  opacity: 1;
}
#navbar-top ul.nav > li.open > a, #navbar-top ul.nav > li:hover > a {
  background-color: #028e90;
}
#navbar-top ul.nav > li.open .dropdown-menu, #navbar-top ul.nav > li:hover .dropdown-menu {
  border: none;
  background-color: #028e90;
}
#navbar-top .dropdown-menu > li > a {
  color: #FAFAFA;
}
#navbar-top .dropdown-menu > li > a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu, .dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.bg-banner {
  position: relative;
  height: 500px;
  background: url("../images/banner.jpg") no-repeat center center;
  background-size: cover;
}

.img-feature:hover:after {
  width: 100%;
}

.img-feature:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: " ";
  width: 0;
  height: 2px;
  display: block;
  background: #01b3b5;
  transition: width 200ms ease-in-out;
  z-index: 1;
}

.slogan {
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 10px 25px;
  background-color: rgba(2, 106, 108, 0.8);
}
.slogan p {
  margin: 0;
  color: #fff;
  font-weight: 100;
  font-size: 2.6rem;
  text-transform: uppercase;
}
.slogan p strong {
  font-weight: 200;
}

.bg-videos {
  margin-top: 15px;
  background: #026a6c url("../images/bg-videos.png") no-repeat center center fixed;
  background-size: cover;
}

.list-features, .list-news {
  margin: 0;
  padding: 0;
}
.list-features li, .list-news li {
  float: left;
  width: 100%;
  list-style: none;
  margin-bottom: 15px;
}
.list-features li:hover .thumb-feature:after, .list-news li:hover .thumb-feature:after {
  height: 100%;
}
.list-features li:hover a, .list-news li:hover a {
  text-decoration: underline;
}
.list-features li img, .list-news li img {
  margin-right: 15px;
}
.list-features li a, .list-news li a {
  color: #fff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.list-features h3 {
  margin-top: 0;
}

.thumb-feature {
  position: relative;
  width: 180px;
  height: auto;
  float: left;
}
.thumb-feature:after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  display: block;
  width: 2px;
  background: #01b3b5;
  height: 0;
  transition: height 200ms ease-in-out;
  z-index: 1;
}

.title-feature {
  font-size: 14px;
  padding: 10px;
  margin-left: 180px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
}

.list-news h3 {
  color: #333;
  margin-top: 0;
}
.list-news p {
  color: #757575;
}
.list-news li:hover p {
  color: #01b3b5;
}

footer {
  color: #fff;
  min-height: 300px;
  background-color: #026a6c;
}
footer .ft1 {
  font-size: 2em;
}
footer .ft2 {
  font-size: 2.4em;
  padding: 5px 0 15px;
  display: block;
}
footer .txt_urgencia {
  font-size: 1.2em;
  font-weight: 200;
}
footer .mgt-30 {
  margin-top: 35px;
}
footer h1 {
  opacity: .7;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 25px;
}
footer .social-links a {
  opacity: .26;
  margin-right: 10px;
}
footer .carousel .item {
  padding: 0 50px;
}
footer .copyright {
  padding: 10px 0;
  margin-top: 20px;
  background-color: #014748;
}
footer .copyright p {
  line-height: 32px;
}

.carousel-control.right, .carousel-control.left {
  background: transparent;
}

/* And here begins the WordPress fun.
-------------------------------------------------------------------------------*/
ol.commentlist {
  list-style: none;
}

ol.commentlist li.comment {
  border-bottom: 1px dotted #666;
  padding: 10px;
}

ol.commentlist li.comment div.vcard cite.fn {
  font-style: normal;
}

ol.commentlist li.comment div.vcard img.avatar {
  float: right;
  margin: 0 0 10px 10px;
}

ol.commentlist li.comment div.comment-meta {
  font-size: 10px;
}

ol.commentlist li.comment div.comment-meta a {
  color: #ccc;
}

ol.commentlist li.comment div.reply {
  font-size: 11px;
}

ol.commentlist li.comment div.reply a {
  font-weight: bold;
}

ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 10px 0 0;
}

ol.commentlist li.comment ul.children li.depth-2 {
  border-left: 5px solid #555;
  margin: 0 0 10px 10px;
}

ol.commentlist li.comment ul.children li.depth-3 {
  border-left: 5px solid #999;
  margin: 0 0 10px 10px;
}

ol.commentlist li.comment ul.children li.depth-4 {
  border-left: 5px solid #bbb;
  margin: 0 0 10px 10px;
}

ol.commentlist li.even {
  background: #fff;
}

ol.commentlist li.odd {
  background: #f6f6f6;
}

ol.commentlist li.parent {
  border-left: 5px solid #111;
}

#main {
  width: 740px;
  float: left;
}

#sidebar {
  width: 300px;
  float: right;
}

.post-header {
  text-align: center;
  margin-bottom: 25px;
}
.post-header .cat {
  display: block;
  margin-bottom: 7px;
}
.post-header h1 {
  color: #000;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 10px;
}

.post-img {
  margin-bottom: 25px;
}
.post-img img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.sp-grid > li {
  width: 355px;
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
}

.sp-grid article {
  margin-bottom: 45px;
}
.sp-grid article p {
  margin-bottom: 10px;
}
.sp-grid article img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.sp-grid article .post-img {
  margin-bottom: 16px;
}
.sp-grid article .post-header {
  text-align: center;
  margin-bottom: 16px;
}
.sp-grid article .post-date {
  color: #999;
  font-style: italic;
}
.sp-grid article .post-header .cat {
  margin-bottom: 6px;
  display: block;
}
.sp-grid article .post-header .cat a {
  color: #026a6c;
  margin: 0 4px 4px 4px;
}
.sp-grid article .post-header h2 {
  margin-bottom: 12px;
  max-width: 100%;
  display: inline-block;
}
.sp-grid article .post-header h2 a {
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
}
.sp-grid article .post-header h2 a:hover {
  opacity: .6;
  text-decoration: none;
}

.post-entry {
  color: #616161;
}

.title-divider {
  border-top: 2px solid #028e90;
  display: block;
  max-width: 48px;
  margin: 0 auto 15px;
  color: #161616;
}

@media only screen and (max-width: 455px) {
  .slogan p {
    font-size: 1.8rem;
  }

  .list-features li .thumb-feature, .list-news li .thumb-feature {
    width: 100%;
  }
  .list-features li .title-feature, .list-news li .title-feature {
    float: left;
    margin: 0;
  }

  .list-features li img {
    width: 100%;
  }

  .list-news li {
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.26);
  }
  .list-news li img {
    width: 100%;
  }
}
@media only screen and (max-width: 1199px) {
  .sm-left {
    float: left;
  }

  .divider-left {
    border: none;
  }

  #navbar-vita .navbar-header {
    float: none;
  }

  #navbar-vita .collapse {
    display: none !important;
  }

  #navbar-vita .navbar-toggle, #navbar-vita .collapse.in {
    display: block !important;
  }

  footer h1, footer .ft1 {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 767px) {
  #navbar-top .navbar-brand {
    padding-top: 5px;
  }

  #navbar-access {
    display: none;
  }

  #navbar-vita .hide-screen {
    display: block;
  }
}
/* Print styles!
-------------------------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
