//Access via functions:: palette($tone: 'primary', $variant:'dark')
//Returns : #000
$colors: (
  primary : (
    light: #fff,
    base : #CCC,
    dark : #000
    ),

   secondary: (
    light: #fff,
    base : #CCC,
    dark : #000
    )
  );


$breakpoints : (
  mobile: 480px,
  tablet: 768px,
  desktop: 900px,
  extreme: 1024px
  );

// ==================================
// COLORS
// ==================================

// GREEN
$green-200 : #01d7da;
$green-300 : #01b3b5;
$green-400 : #028e90;
$green-500 : #026a6c;
$green-600 : #014748;
$green-700 : #012324;

// GREY
$grey-50  : #FAFAFA;
$grey-100 : #F5F5F5;
$grey-200 : #EEEEEE;
$grey-300 : #E0E0E0;
$grey-400 : #BDBDBD;
$grey-500 : #9E9E9E;
$grey-600 : #757575;
$grey-700 : #616161;
$grey-800 : #424242;
$grey-900 : #212121;